---
layout: default-no-content
title: Home
activeMenu: home
scripts: ['/public/js/land.js']
---

<div class="land2">
	<header>
		<div class="container">
			<div class="logo-container">
				<div class="logo"></div>
			</div>
		</div>

		<div class="menu" data-spy="affix">
			<div class="container">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
					<span class="icon-group">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</span>
					Menu
				</button>
				<div id="navbar" class="header-navigation font-transform-inherit navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li><a href="#services">SERVIÇOS</a></li>
						<li><a href="#team">O TIME</a></li>
						<li><a href="#blog">BLOG</a></li>
						<li><a href="#contact">FALE CONOSCO</a></li>
					</li>
				</div>
			</div>
		</div>
		<a name="services"></a>
	</header>
	
	<div class="content">
		<div class="container text-center">
			<h2><strong>DESENVOLVENDO MAIS</strong> QUE SOFTWARE</h2>
			<div class="row more-than-software">
				<div class="col-xs-12 col-sm-6">
					<img src="/public/images/note.png" />
				</div>
				<div class="col-xs-12 col-sm-6 text-left">
					<div class="panel-group" id="accordion1">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h5 class="panel-title">
									<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_1">APLICAÇÕES MODERNAS</a>
								</h5>
							</div>
							<div id="accordion1_1" class="panel-collapse collapse in">
								<div class="panel-body">
									<p>Focadas na experiência do usuário, com fluidez na navegação e interações intuitivas.</p>
									<p>Nosso objetivo é construir aplicações que não só atendam as necessidades dos usuários, mas que façam isso de maneira rápida e prática.</p>
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h5 class="panel-title">
									<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_2">TECNOLOGIA DE PONTA</a>
								</h5>
							</div>
							<div id="accordion1_2" class="panel-collapse collapse">
								<div class="panel-body">
									<p>A tecnologia avança rapidamente. Nós também!</p>
									<p>Estamos sempre de olho nas novidades, testando, avaliando e eventualmente incorporando-as à nossa caixa de ferramentas.</p>
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h5 class="panel-title">
									<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_3">EQUIPE QUALIFICADA</a>
								</h5>
							</div>
							<div id="accordion1_3" class="panel-collapse collapse">
								<div class="panel-body">
									<p>Os melhores profissionais para nossos clientes.</p>
									<p>Não é possível entregar software de qualidade sem desenvolvedores de qualidade. Nosso processo seletivo é extremamente exigente e toda a equipe é constantemente avaliada.</p>
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h5 class="panel-title">
									<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_4">COMPROMISSO COM O CLIENTE</a>
								</h5>
							</div>
							<div id="accordion1_4" class="panel-collapse collapse">
								<div class="panel-body">
									<p>Organização, diálogo e transparência são aspectos chave no nosso relacionamento com clientes.</p>
									<p>Acreditamos que as melhores aplicações nascem do respeito mútuo e trabalho cooperativo entre os interessados.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<a name="team"></a>
	</div>

	<div class="content content-alt">
		<div class="container">
			<h2>NOSSOS <strong>SERVIÇOS</strong></h2>
			<br />
			<div class="land-menu row">
				<div class="col-xs-12 col-sm-6 col-md-4 item">
					<span><i class="fa fa-object-group"></i></span>
					<h3>Software sob demanda</h3>
					<p>Aplicações feitas sob medida para sua empresa.</p>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 item">
					<span><i class="fa fa-users"></i></span>
					<h3>Consultoria especializada</h3>
					<p>Provas de conceito, análises e tunning.</p>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 item">
					<span><i class="fa fa-tasks"></i></span>
					<h3>Software como serviço</h3>
					<p>Aplicações pré-fabricadas que podem atender as suas necessidades.</p>
				</div>
			</div>
		</div>
		<a name="team"></a>
	</div>

	<div class="public-logo">
		<div class="container">
			<h2>PRODUZIR CONTEÚDO E GERAR TECNOLOGIA</h2>
			<h2><strong>FORMAM MELHORES PROFISSIONAIS</strong></h2>
		</div>
		<a name="blog"></a>
	</div>

	<div class="content">
		<div class="container">
			<h2>ÚLTIMAS DO <strong>BLOG</strong></h2>
			<div class="row last-posts">
				{% for post in site.posts %}
					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 post">
						<div>
							<label>{{ post.date | date: "%d/%m/%Y" }}</label>
							<span>
								<i class="fa fa-tags"></i>
								{% assign tags = post.tags %}
								{% include tag-links.html %}
							</span>
							<h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
							<p>{{ post.sub-title }}</p>
							<div>
								{% assign author = site.data.crew[post.author] %}
								<img src="{{ author.avatar }}" alt="{{ author.name }}" />
								<a href="/blog/autores/{{ post.author }}">{{ author.name }}</a>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
		<a name="contact"></a>
	</div>

	<div class="content content-last">
		<div class="container">
			<form action="//formspree.io/faleconosco@codifica208.com.br" method="post" role="form">
				<input type="hidden" name="_subject" value="[CONTATO VIA SITE]" />
				<input type="hidden" name="_next" value="/" />
				<input type="hidden" name="_gotcha" />
				
				<h3 class="text-left">FALE CONOSCO</h3>
				<div class="row">
					<div class="col-xs-12 col-sm-5">
						<div class="form-group">
							<label>Nome</label>
							<input type="text" class="form-control" name="name" />
						</div>
					</div>
					<div class="col-xs-12 col-sm-7">
						<div class="form-group">
							<label>E-mail</label>
							<input type="email" class="form-control" name="email" />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label>Mensagem</label>
							<textarea class="form-control" name="message" rows="8"></textarea>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<button type="submit" class="btn btn-primary">Enviar</button>
					</div>
				</div>
			</form>
		</div>
	</div>

	{% include footer.html %}
</div>