---
layout: default-no-content
title: Home
activeMenu: home
scripts: ['/public/js/land.js']
---

<div class="land2">
	<header>
		<div class="container">
			<div class="logo-container">
				<div class="logo"></div>
			</div>
		</div>

		<div class="menu" data-spy="affix">
			<div class="container">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
					<span class="icon-group">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</span>
					Menu
				</button>
				<div id="navbar" class="header-navigation font-transform-inherit navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li><a href="#services">SERVIÇOS</a></li>
						<li><a href="#team">O TIME</a></li>
						<li><a href="#blog">BLOG</a></li>
						<li><a href="#contact">FALE CONOSCO</a></li>
					</li>
				</div>
			</div>
		</div>
		<a name="services"></a>
	</header>
	
	<div class="content">
		<div class="container text-center">
			<h2><strong>DESENVOLVENDO MAIS</strong> QUE SOFTWARE</h2>
			<h4>Aplicações que os usuários gostam de utilizar e que os permite salvar tempo para atividades mais edificantes</h4>

			<div class="row more-than-software">
				<div class="col-xs-12 col-sm-6">
					<img src="/public/images/note.png" />
				</div>
				<div class="col-xs-12 col-sm-6 text-left">
					<div class="panel-group" id="accordion1">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h5 class="panel-title">
									<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_1">Lorem ipsum dolor sit amet</a>
								</h5>
							</div>
							<div id="accordion1_1" class="panel-collapse collapse in">
								<div class="panel-body">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim minim veniam quis nostrud exercitation dolore magna ullamco.</p>
									<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco sed eiusmod tempor ut labore et dolore.</p>
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h5 class="panel-title">
									<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_2">Consectetur adipisicing elit</a>
								</h5>
							</div>
							<div id="accordion1_2" class="panel-collapse collapse">
								<div class="panel-body">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim minim veniam quis nostrud exercitation dolore magna ullamco.</p>
									<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco sed eiusmod tempor ut labore et dolore.</p>
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h5 class="panel-title">
									<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_3">Augue assum anteposuerit dolore</a>
								</h5>
							</div>
							<div id="accordion1_3" class="panel-collapse collapse">
								<div class="panel-body">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim minim veniam quis nostrud exercitation dolore magna ullamco.</p>
									<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco sed eiusmod tempor ut labore et dolore.</p>
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h5 class="panel-title">
									<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_4">Sollemnes in futurum</a>
								</h5>
							</div>
							<div id="accordion1_4" class="panel-collapse collapse">
								<div class="panel-body">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim minim veniam quis nostrud exercitation dolore magna ullamco.</p>
									<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco sed eiusmod tempor ut labore et dolore.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="content content-alt">
		<div class="container">
			<h2>OUTROS <strong>SERVIÇOS</strong></h2>
			<div class="land-menu row">
				<div class="col-xs-12 col-sm-6 col-md-4 item">
					<a href="/">
						<span><i class="fa fa-users"></i></span>
						<h3>Consultoria especializada</h3>
					</a>
					<p>Precisa de ajuda para solucionar um problema?</p>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 item">
					<a href="/">
						<span><i class="fa fa-tasks"></i></span>
						<h3>Aplicações SaaS</h3>
					</a>
					<p>Blocks, Tiles e outras aplicações.</p>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 item">
					<a href="/">
						<span><i class="fa fa-object-ungroup"></i></span>
						<h3>Aplicações baseadas em templates</h3>
					</a>
					<p>Rápido, prático e de baixo custo.</p>
				</div>
			</div>
		</div>
		<a name="team"></a>
	</div>

	<div class="content">
		<div class="container">
			<h2>CONHEÇA <strong>O TIME</strong></h2>
		</div>
	</div>

	<div class="public-logo">
		<div class="container">
			<h2>PRODUZIR CONTEÚDO E GERAR TECNOLOGIA</h2>
			<h2><strong>FORMA MELHORES PROFISSIONAIS</strong></h2>
		</div>
		<a name="blog"></a>
	</div>

	<div class="content">
		<div class="container">
			<h2>ÚLTIMAS DO <strong>BLOG</strong></h2>
			<div class="row last-posts">
				{% for post in site.posts %}
					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 post">
						<div>
							<label>{{ post.date | date: "%d/%m/%Y" }}</label>
							<span>
								<i class="fa fa-tags"></i>
								{% assign tags = post.tags %}
								{% include tag-links.html %}
							</span>
							<h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
							<p>{{ post.sub-title }}</p>
							<div>
								{% assign author = site.data.crew[post.author] %}
								<img src="{{ author.avatar }}" alt="{{ author.name }}" />
								<a href="/blog/autores/{{ post.author }}">{{ author.name }}</a>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
		<a name="contact"></a>
	</div>

	<div class="content content-last">
		<div class="container">
			<form action="//formspree.io/faleconosco@codifica208.com.br" method="post" role="form">
				<input type="hidden" name="_subject" value="[CONTATO VIA SITE]" />
				<input type="hidden" name="_next" value="/" />
				<input type="hidden" name="_gotcha" />
				
				<h3 class="text-left">FALE CONOSCO</h3>
				<div class="row">
					<div class="col-xs-12 col-sm-5">
						<div class="form-group">
							<label>Nome</label>
							<input type="text" class="form-control" name="name" />
						</div>
					</div>
					<div class="col-xs-12 col-sm-7">
						<div class="form-group">
							<label>E-mail</label>
							<input type="email" class="form-control" name="email" />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label>Mensagem</label>
							<textarea class="form-control" name="message" rows="8"></textarea>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<button type="submit" class="btn btn-primary">Enviar</button>
					</div>
				</div>
			</form>
		</div>
	</div>

	{% include footer.html %}
</div>