html { overflow-y: auto; }
html, body { height: 100%; }

.row.no-gutters {
	margin-right: 0;
	margin-left: 0;
}

.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
	padding-right: 0;
	padding-left: 0;
}

.line-height-34 { line-height: 34px; }

.content-page a,
.sidebar2 a { color: #3e4d5c; }

.blog-item .blog-info li {
	padding-left: 0px;
	border-left: 0px;
	padding-right: 13px;
	border-right: solid 1px #ECEBEB;
}

.blog-item .blog-info li:last-child {
	padding-right: 0;
	border-right: none;
}

.front-team .thumbnail { text-align: center; }
.front-team .thumbnail h3 small { height: 26px; }
.front-team .thumbnail ul { display: inline-block; }
.front-team .thumbnail ul li:last-child { margin-right: 0px; }

/* ------------------------------------------- */
.header {
	height: 200px;
	background: url(../images/blog-background.png) no-repeat center;
	border-bottom: 4px solid #e6400c;
}

.header .container {
	height: 48px;
	background: url(../images/blog-logo.png) no-repeat 15px center;
	text-align: center;
}

.header .container a.logo {
	display: inline-block;
	height: 70px;
	width: 300px;
	margin-top: 20px;
}

.header .container a.github {
	float: right;
	font-weight: bold;
	background-color: #0090ff; /*#0090ff;*/
	color: #fff;
	padding: 0px 12px;
	height: 40px;
	line-height: 40px;
}

.header .container a.github img {
	margin-left: 6px;
	margin-top: -5px;
}

.category-title i,
.tag-title i,
.author-title i {
	color: #E84D1C;
	font-size: 26px;
}

.blog-posts img { margin-top: 6px; }

.blog-item p { text-align: justify; }
.blog-item h2.title {
	padding-top: 0px;
	margin-bottom: 20px;
}

.blog-item img { width:100%; }

.blog-item a:link { font-weight: bold; }
.blog-info a:link { font-weight: normal; }

.author-info {
	border-bottom: solid 1px #ECEBEB;
	padding-bottom: 18px;
	margin-bottom: 10px;
}

.blog-item .author-info {
	border-top: solid 1px #ECEBEB;
	padding: 4px 0px;
}

.author-info img {
	width: 120px;
	float: left;
	margin-right: 12px;
}

.author-info h2 {
	padding: 0px;
	margin-bottom: 6px;
}

.author-info h2 a {
	font-weight: normal !important;
	color: #e6400c;
}

.author-info ul.social-icons {
	margin-top: 8px;
}


.land2 .container {
	clear: both;
}

.land2 > header {
	background: url(../images/logo-container.png);
	background-size: cover;
}

.land2 > header > .container,
.land2 > header > .container > .logo-container { height: 100%; }

.land2 > header .logo-container {
	text-align: center;
}

.land2 > header .logo {
	display: inline-block;
	height: 100%;
	width: 100%;
	max-width: 692px;
	background-image: url(../images/logo-inverted-shadow.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% auto;
}

.land2 > header > .menu {
	background-color: #e6400c;
	top: 0px;
	width: 100%;
	z-index: 999999;
	position: relative;
	box-shadow: 0px 1px 3px #444;
}

.land2 > header > .menu.affix {
	position: fixed;
}

.land2 > header > .menu ul {
	padding: 0px;
	margin: 0px;
	list-style: none;
}

.land2 > header > .menu ul > li {
	padding-right: 8px;
	display: inline;
	font-family: "PT Sans Narrow", Arial;
	font-size: 24px;
}

.land2 > header > .menu ul > li > a {
	color: #fff;
	padding-top: 15px;
	padding-bottom: 15px;
}

.land2 > header > .menu ul > li > a:hover {
	color: #e6400c;
}

.land2 > .footer .pull-right {
	margin-top: 4px;
}

@media (max-width: 767px){
	.land2 > header > .menu .navbar-toggle {
		float: none;
		display: block;
		color: #fff;
		font-size: 15px;
		line-height: 15px;
		text-align: left;
		width: 100%;
		padding-left: 0px;
		padding-right: 0px;
		margin: 0px 0px 1px 0px;
	}

	.land2 > header > .menu .navbar-toggle .icon-group {
		float: left;
		margin-right: 15px;
	}

	.land2 > header > .menu .navbar-toggle .icon-bar {
		background-color: #fff;
	}

	.land2 > header > .menu .header-navigation {
		float: none;
		clear: both;
	}

	.land2 > header > .menu .header-navigation > ul > li {
		display: block;
		float:none;
		padding-right: 0px;
	}

	.land2 > header > .menu .header-navigation > ul > li > a {
		padding: 8px 16px 9px;
		font-size: 14px;
	}

	.footer {
		text-align: center;
	}
	.footer .pull-right {
		float: none !important;
		display: inline-block;
		margin-top: 10px !important;
	}
	.footer .list-inline > li:last-child {
		padding-right: 0px;
	}
}

.land2 > .content {
	padding: 24px 0px;
}

.land2 > .content h2,
.land2 > .public-logo h2 {
	font: 400 37px "PT Sans Narrow",Arial,sans-serif;
	color: #272626;
	margin: 0px 0px 10px;
	text-transform: uppercase;
	text-align: center;
}

.land2 > .content h4 {
	font: 300 16px "Open Sans",Arial,sans-serif;
	color: #272626;
	padding: 0px;
	margin: 0px;
}

.land2 > .content h2::after {
	z-index: 2;
	content: " ";
	display: block;
	padding-top: 7px;
	border-bottom: 2px solid #272626;
	width: 73px;
	margin: 0px auto;
}

.land2 > .content h2 > strong,
.land2 > .public-logo h2 > strong {
	font-weight: normal;
	color: #e6400c;
}

.land2 .content-alt {
	background-color: #f6f6f6;
}

.land2 > .content .land-menu {
	text-align: center;
	padding: 15px;
}

.land2 > .content .land-menu .item a {
	color: #3E4D5C;
}

.land2 .content .land-menu .item a:active,
.land2 .content .land-menu .item a:focus,
.land2 .content .land-menu .item a:visited,
.land2 .content .land-menu .item a:hover {
	text-decoration: none;
}

.land2 .content .land-menu .item {
	border-right: solid 1px #e8e7e7;
	padding-top: 9px;
}

.land2 .content .land-menu .item:last-child {
	border-right: none;
}

@media (max-width: 992px) {
	.land2 > .content .land-menu .item {
		border-right: solid 1px #e8e7e7;
	}

	.land2 .content .land-menu .item:nth-child(2) {
		border-right: none;
	}
}

@media (max-width: 767px){
	.land2 > .content .land-menu .item {
		border-right: none;
	}
}

.land2 .content .land-menu span {
	text-align: center;
}

.land2 .content .land-menu .fa {
	background: #e85425;
	font-size: 38px;
	padding: 31px 0 0;
	color: #fff;
	width: 99px;
	height: 99px;
	line-height: 1;
	border-radius: 50%;
	position: relative;
	margin-bottom: 29px;
}

.land2 .content .land-menu h3 {
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 7px;
}

.land2 .content .more-than-software {
	margin-top: 40px;
}

.land2 .content .more-than-software img {
	padding-top: 20px;
	width: 100%;
	max-width: 443px;
}

@media (max-width: 767px) {
	.land2 .content .more-than-software img {
		padding-top: 0px;
		padding-bottom: 40px;
	}
}

.land2 .content .more-than-software .panel-default {
	border-radius: 0 !important;
	border: none;
	background: none;
	margin-bottom: 0 !important;
	padding-bottom: 14px;
}

.land2 .content .more-than-software .panel-default > .panel-heading {
	border: none;
	background: none;
	padding: 0;
}

.land2 .content .more-than-software .panel-default > .panel-heading + .panel-collapse .panel-body {
	border: none;
	padding: 0 0 0 32px;
}

.land2 .content .more-than-software .panel-default h5 {
	font: 300 18px "Open Sans", Arial, sans-serif;
	padding: 0;
	margin: 0 0 5px;
}

.land2 .content .more-than-software .panel-default .accordion-toggle:before {
	content: "";
	width: 21px;
	height: 21px;
	display: inline-block;
	background: #e54a1a url(../images/toggle-icons.png) no-repeat 6px 10px;
	border-radius: 50% !important;
	margin-right: 10px;
	position: relative;
	top: 4px;
}

.land2 .content .more-than-software .panel-default .collapsed:before {
	background: #495764 url(../images/toggle-icons.png) no-repeat 6px -148px;
}

.land2 .content .more-than-software .panel-default .panel-title:hover .collapsed:before {
	background-color: #e54a1a;
}

.land2 .content .more-than-software .panel-default .accordion-toggle,
.land2 .content .more-than-software .panel-default .accordion-toggle:focus,
.land2 .content .more-than-software .panel-default .accordion-toggle:hover,
.land2 .content .more-than-software .panel-default .accordion-toggle:active {
	color: #E02222;
	text-decoration: none;
}

.land2 .content .more-than-software .panel-default .collapsed {
	color: #5f6f7e;
}

.land2 .public-logo {
	background: #292F34 url("../images/public-background.png") no-repeat fixed 0% 0%;
	background-size: cover;
	padding: 24px 0;
}

.land2 .public-logo .container {
	padding: 100px 0 110px;
}

.land2 .public-logo h2 {
	display: block;
	text-align: center;
	color: #FFF;
}

.land2 div.last-posts {
	margin-top: 40px;
}

.land2 div.post {
	margin-bottom: 30px;
}

.land2 div.post > div {
	background-color: #f6f6f6;
	border: 2px solid #e8e9ee;
	padding: 12px;
	position: relative;
	min-height: 300px;
}

.land2 div.post > div:hover {
	border-bottom: 4px solid #e6400c;
	top: -6px;
}

.land2 div.post > div label {
	background-color: #272626;
	color: #fff;
	margin: 0 0 6px -18px;
	padding: 2px 60px 2px 20px;
}

.land2 div.post > div span {
	display: block;
}

.land2 div.post > div span a {
	font-size: 12px;
	color: #272626;
}

.land2 div.post > div span i,
.land2 div.post > div h4 {
	color: #e6400c;
}

.land2 div.post > div div a,
.land2 div.post > div p {
	color: #272626;
	font-size: 14px;
}

.land2 div.post > div h4 {
	font-size: 20px;
}

.land2 div.post > div div {
	position: absolute;
	bottom: 12px;
}

.land2 div.post > div div a {
	margin-left: 10px
}

.land2 div.post > div div img {
	width: 70px;
	height: 70px;
}

@media (max-width: 767px) {
	.land2 div.post > div {
		min-height: auto;
	}

	.land2 div.post > div div {
		position: inherit;
		padding-top: 10px;
		bottom: 0;
	}
}

.land2 .content-last {
	background-color: #313030;
	color: #b0b0b0;
}

.land2 .content-last h3 {
	font-family: "PT Sans Narrow", Arial, sans-serif;
}

.land2 .content-last button {
	width: 120px;
}

.corporate .page-404 {
	padding-top: 100px;
	padding-bottom: 135px;
	margin-bottom: 25px;
}

.front-team ul li img {
	width: 100%;
}

code {
	border: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
