html { overflow-y: auto; }
html, body { height: 100%; }

.row.no-gutters {
	margin-right: 0;
	margin-left: 0;
}

.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
	padding-right: 0;
	padding-left: 0;
}

.line-height-34 { line-height: 34px; }

/* ------------------------------------------- */
.header {
	height: 167px;
}

.header .logo {
	padding-top: 10px;
	background-color: #272626;
}

.header .logo .container {
	height: 120px;
	background: url(../images/logo-inverted.png) no-repeat center;
	text-align: center;
}

.header .logo .container a {
	display: inline-block;
	height: 70px;
	width: 300px;
	margin-top: 20px;
}

.header .header-menu {
	background-color: #313030;
	top: 0px;
	width: 100%;
}

.header .header-menu.affix { box-shadow: 0 1px 3px #ddd; }

.header .header-menu .header-navigation > ul > li > a {
	color: #fff;
	padding: 8px 12px 9px;
}

.header .header-menu .header-navigation > ul > li.active > a,
.header .header-menu .header-navigation > ul > li > a:hover,
.header .header-menu .header-navigation > ul > li > a:focus,
.header .header-menu .header-navigation > ul > li.open > a,
.header .header-menu .header-navigation > ul > li.open > a:hover,
.header .header-menu .header-navigation > ul > li.open > a:focus {
	color: #e02222;
	text-decoration: none;
}

.header .header-menu .header-navigation > ul > li.active > a {
	padding-bottom: 7px;
	border-bottom: 2px solid #e64f00;
}

@media (max-width:767px){
	.header .header-menu .navbar-toggle {
		float: none;
		display: block;
		color: #fff;
		font-size: 15px;
		line-height: 15px;
		text-align: left;
		width: 100%;
		padding-left: 0px;
		padding-right: 0px;
		margin: 0px 0px 1px 0px;
	}

	.header .header-menu .navbar-toggle .icon-group {
		float: left;
		margin-right: 15px;
	}

	.header .header-menu .navbar-toggle .icon-bar {
		background-color: #fff;
	}
	
	.header .header-menu .header-navigation {
		float: none;
		clear: both;
	}

	.header .header-menu .header-navigation > ul > li {
		display: block;
		float:none;
	}

	.header .header-menu .header-navigation > ul > li > a {
		padding: 8px 16px 9px;
	}

	.footer { text-align: center; }
	.footer .pull-right { float: none !important; }
	.footer .list-inline > li:last-child {
		padding-right: 5px;
	}
}

.category-title i,
.tag-title i {
	color: #E84D1C;
	font-size: 26px;
}

.blog-posts img { margin-top: 6px; }

.blog-item { text-align: justify; }
.blog-item h2.title { padding-top: 0px; }

.land,
.land > .main,
.land > .main > .container,
.land > .main > .container > .logo-container { height: 100%; }

.land .logo-container {
	text-align: center;
	padding-bottom: 338px;
}

.land .logo {
	display: inline-block;
	height: 100%;
	width: 100%;
	max-width: 500px;
	background-image: url(../images/logo.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% auto;
}

.land .footer,
.land .land-menu {
	position: absolute;
	width: 100%;
}

.land .footer { bottom: 0px; }

.land .land-menu {
	bottom: 59px;
	background-color: #f6f6f6;
	text-align: center;
	padding: 15px;
}

.land .land-menu .item a {
	color: #3E4D5C;
}

.land .land-menu .item a:active,
.land .land-menu .item a:focus,
.land .land-menu .item a:hover {
	text-decoration: none;
}

.land .land-menu .item {
	border-right: solid 1px #e8e7e7;
	padding-top: 9px;
}

.land .land-menu .item.col-md-3:last-child {
	border-right: none;
}

.land .land-menu span {
	text-align: center;
}

.land .land-menu .fa {
	background: #e85425;
	font-size: 38px;
	padding: 31px 0 0;
	color: #fff;
	width: 99px;
	height: 99px;
	line-height: 1;
	border-radius: 50%;
	position: relative;
	margin-bottom: 29px;
}

.land .land-menu h3 {
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 7px;
}

@media (max-width:767px){
	.land > .main { height: 200px; }

	.land .logo-container { padding-bottom: 0px; }

	.land .footer,
	.land .land-menu {
		position: inherit;
	}

	.land .land-menu .item {
		border-right: none;
	}

	.land .land-menu .fa {
		font-size: 20px;
		width: 40px;
		height: 40px;
		padding: 10px;
		margin-bottom: 15px;
	}
}

.corporate .page-404 {
	padding-top: 100px;
	padding-bottom: 135px;
	margin-bottom: 25px;
}

.front-team ul li img {
	border: 1px solid #eee;
	width: 100%;
}