<div class="footer">
	<div class="container">
		<div class="row">
			<!-- BEGIN COPYRIGHT -->
			<div class="col-sm-6 padding-top-10">
				2016 © Codifica208
			</div>
			<!-- END COPYRIGHT -->
			<!-- BEGIN PAYMENTS -->
			<div class="col-sm-6">
				<ul class="social-icons pull-right">
					<li><a class="linkedin" href="javascript:void(0);"></a></li>
					<li><a class="twitter" href="javascript:void(0);"></a></li>
					<li><a class="facebook" href="javascript:void(0);"></a></li>
					<li><a class="youtube" href="javascript:void(0);"></a></li>
					<li><a class="github" href="javascript:void(0);"></a></li>
				</ul>
			</div>
			<!-- END PAYMENTS -->
		</div>
	</div>
</div>