<div class="header">
	<div class="logo">
		<div class="container">
		</div>
	</div>
	<div class="header-menu" data-spy="affix" data-offset-top="130">
		<div class="container">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
				<span class="icon-group">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</span>
				Menu
			</button>
			<div id="navbar" class="header-navigation font-transform-inherit navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li {% if page.activeMenu == 'home' %} class="active" {% endif %}>
						<a href="/">Home</a>
					</li>
					<li {% if page.activeMenu == 'sobre' %} class="active" {% endif %}>
						<a href="/sobre">Sobre a iniciativa</a>
					</li>
					<li {% if page.activeMenu == 'blog' %} class="active" {% endif %}>
						<a href="/blog">Blog</a>
					</li>
					<li {% if page.activeMenu == 'templates' %} class="active" {% endif %}>
						<a href="/templates">Templates</a>
					</li>
					<li {% if page.activeMenu == 'repositorios' %} class="active" {% endif %}>
						<a href="/repositorios">Repositórios</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>