<div class="row">
	{% if post.images != nil %}
	<div class="col-md-4 col-sm-4">
		<img class="img-responsive" alt="" src="{{ post.images[0] }}" />
	</div>
	<div class="col-md-8 col-sm-8">
	{% else %}
	<div class="col-xs-12">
	{% endif %}
		<h2>
			<a href="{{ post.url }}">{{ post.title }}</a>
		</h2>
		<ul class="blog-info">
			<li>
				<i class="fa fa-calendar"></i>
				{{ post.date | date: "%d/%m/%Y" }}
			</li>
			<li>
				<i class="fa fa-user"></i>
				Autor: <a href="/blog/autores/{{ post.author }}">{{ site.data.crew[post.author].name }}</a>
			</li>
			<li>
				<i class="fa fa-tags"></i>
				{% assign tags = post.tags %}
				{% include tag-links.html %}
			</li>
		</ul>
		<p>{{ post.excerpt }}</p>
		<a href="{{ post.url }}" class="more">Leia mais <i class="icon-angle-right"></i></a>
	</div>
</div>
<hr class="blog-post-sep" />