---
layout: default
title: Blog
activeMenu: blog
---
{% assign author = site.data.crew[page.author] %}
<div class="row">
	<div class="col-xs-12">
		<ul class="breadcrumb">
			<li><a href="/blog">Blog</a></li>
			<li>Autores</li>
			<li class="active">{{ author.name }}</li>
		</ul>
		<h1> Posts de {{ author.name }}</h1>
		<div class="content-page">
			<div class="row">
				<div class="col-sm-9 blog-posts margin-bottom-20">
					{% for post in site.posts %}
						{% if post.author == page.author %}
							{% include post-summary.html %}
						{% endif %}
					{% endfor %}
				</div>
				{% include blog-sidebar.html %}
			</div>
		</div>
	</div>
</div>