---
layout: default
activeMenu: blog
---

<div class="row">
	<div class="col-xs-12">
		<ul class="breadcrumb">
			<li><a href="/">Home</a></li>
			<li><a href="/blog">Blog</a></li>
			<li>Categorias</li>
			<li class="active">{{ site.data.categories[page.category] }}</li>
		</ul>
		<h1 class="category-title">
			<i class="fa fa-folder-open"></i>
			{{ site.data.categories[page.category] }}
		</h1>
		<div class="content-page">
			<div class="row">
				<div class="col-sm-9 blog-posts margin-bottom-20">
					{% for post in site.categories[page.category] %}
					{% include post-summary.html %}
					{% endfor %}
				</div>
				{% include blog-sidebar.html %}
			</div>
		</div>
	</div>
</div>