---
layout: default
activeMenu: blog
---
<div class="row">
	<div class="col-xs-12">
		<div class="content-page">
			<ul class="breadcrumb">
				<li><a href="/blog">Blog</a></li>
				<li class="active">{{ page.title }}</li>
			</ul>
			<div class="row margin-bottom-20">
				<div class="col-sm-9 blog-item">
					<h2 class="title">{{ page.sub-title }}</h2>
					<ul class="blog-info">
						<li><i class="fa fa-calendar"></i> {{ page.date | date: "%d/%m/%Y" }}</li>
						<li>
							<i class="fa fa-tags"></i>
							{% assign tags = page.tags %}
							{% include tag-links.html %}
						</li>
					</ul>
					{{ content }}
					
					{% assign author = site.data.crew[page.author] %}
					{% include author-info.html %}
				</div>
				{% include blog-sidebar.html %}
			</div>
			<div class="row">
				<div class="col-sm-9">
					{% assign absoluteUrl = site.url + page.url %}
					<div id="disqus_thread"></div>
					<script type="text/javascript">
						(function() {
							var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
							dsq.src = '//codifica208.disqus.com/embed.js';
							(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
						})();
					</script>
				</div>
			</div>
		</div>
	</div>
</div>