---
layout: default
title: Blog
activeMenu: blog
---
<div class="row">
	<div class="col-xs-12">
		<ul class="breadcrumb">
			<li><a href="/blog">Blog</a></li>
			<li>Tags</li>
			<li class="active"><i class="fa fa-tags"></i>{{ site.data.tags[page.tag] }}</li>
		</ul>
		<div class="content-page">
			<div class="row">
				<div class="col-sm-9 blog-posts margin-bottom-20">
					{% for post in site.tags[page.tag] %}
					{% include post-summary.html %}
					{% endfor %}
				</div>
				{% include blog-sidebar.html %}
			</div>
		</div>
	</div>
</div>